.example-spacer {
    flex: 1 1 auto;
  }
/* declaremos con palabra reservada MEDIA -->dispositivos pequeños (ej:celulares) */
@media (min-width:300px) and (max-width:700px){

  #menuInicio{
    display: none;
  }
  #menuProducto{
    display: none;
  }
}
/* declaremos con palabra reservada MEDIA -->dispositivos grandes (ej:computadoras) */
@media(min-width:700px){
  #menuSecciones{
    display: none;
  }
}
  